.movie__overview {
  width: 100%;
  position: relative;
}

.movie__overview-wrapper {
  padding-top: 12rem;

  @media only screen and (max-width: 30rem) {
    padding-bottom: 0 !important;
  }
}

.movie__header {
  padding: 1.6rem 0 0 6rem;
  padding-right: 0;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 5rem;

  @media only screen and (max-width: 30rem) {
    padding: 1.6rem 0;
    margin-top: 0;
    margin-bottom: 4rem;
  }
}

.movie__header-title {
  h1 {
    text-transform: capitalize;
    margin: 0;
    color: #fff;

    @media only screen and (max-width: 30rem) {
      font-size: 2rem;
      margin-bottom: 0;
    }
  }

  h3 {
    color: #a1a1a1;
    margin: 0;
    font-size: 1.6rem;

    @media only screen and (max-width: 30rem) {
      font-size: 1rem;
    }
  }
}

.movie__casts {
  @media only screen and (max-width: 102rem) {
    width: 1360px;
    margin: auto;
  }
}

.movie__casts-content {
  display: flex;

  @media only screen and (max-width: 64rem) {
    flex-direction: column;
  }
}

.movie__casts-wrapper {
  width: 75%;
  padding-bottom: 6.8rem;
  padding-right: 4.8rem;

  @media only screen and (max-width: 50rem) {
    width: 100%;
    padding: 0 3.2rem;
  }

  @media only screen and (min-width: 20rem) and (max-width: 30rem) {
    padding: 0;
    margin-bottom: 5rem;
  }
}

.movie__casts-header {
  padding: 4.8rem 0;

  @media only screen and (max-width: 30rem) {
    padding-top: 0;
    padding-bottom: 1.6rem;
    text-align: center;
  }
}

.header__title {
  width: 100%;

  @media only screen and (max-width: 30rem) {
    text-align: center;

    h1 {
      font-size: 2rem;
    }
  }
}

.movie__details {
  width: 25%;
  padding: 4.8rem 1.6rem;

  @media only screen and (max-width: 50rem) {
    width: 100%;
  }

  @media only screen and (max-width: 30rem) {
    padding: 0;
    padding-top: 1.6rem;
  }

  div {
    margin-bottom: 3.2rem;

    @media only screen and (max-width: 50rem) {
      display: inline-block;
      margin-right: 3.2rem;
    }

    @media only screen and (max-width: 30rem) {
      margin-bottom: 1.2rem;
    }
  }

  h4 {
    margin-bottom: 1.2rem;
  }

  p {
    margin: 0;
  }
}
